%% 依赖配置
%% {deps_dir,"deps"}.
{deps,[
       {em, ".*", {git, "https://github.com/sheyll/erlymock.git"}},
       {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "0.10.0"}}
      ]}.

%% rel dir
{sub_dirs, ["rel"]}.

%% 测试配置
{cover_enabled, true}.                          %test coverage
%% {eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "./"}]}}]}.
