%% 依赖配置
%% {deps_dir,"deps"}.
%% {deps,[app_name,
%%        {rebar,"1.0.*"},
%%        {rebar,".*",{git,"git://github.com/rebar/rebar.git"}},
%%        {rebar,".*",{git,"git://github.com/rebar/rebar.git","Rev"}},
%%        {rebar,"1.0.*",
%%         {git,"git://github.com/rebar/rebar.git",{branch,"master"}}},
%%        {rebar,"1.0.0",
%%         {git,"git://github.com/rebar/rebar.git",{tag,"1.0.0"}}},
%%        {rebar,[],
%%         {git,"git://github.com/rebar/rebar.git",{branch,"master"}},
%%         [raw]},
%%        {app_name,".*",{hg,"https://www.example.org/url"}},
%%        {app_name,".*",{rsync,"Url"}},
%%        {app_name,".*",{svn,"https://www.example.org/url"}},
%%        {app_name,".*",{svn,"svn://svn.example.org/url"}},
%%        {app_name,".*",{bzr,"https://www.example.org/url","Rev"}},
%%        {app_name,".*",{fossil,"https://www.example.org/url"}},
%%        {app_name,".*",{fossil,"https://www.example.org/url","Vsn"}}]}

%% 测试配置
{cover_enabled, true}.                          %test coverage
%% {eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "./"}]}}]}.
